<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>

    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs/application.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger{1} - %message%newline" />
      </layout>
    </appender>

    <appender name="ErrorFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs/errors.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <threshold value="ERROR" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger{1} - %message%newline%exception" />
      </layout>
    </appender>

    <root>
      <level value="INFO" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="FileAppender" />
      <appender-ref ref="ErrorFileAppender" />
    </root>

    <!-- Specific logger for Entity Framework -->
    <logger name="Microsoft.EntityFrameworkCore">
      <level value="WARN" />
    </logger>

    <!-- Specific logger for ASP.NET Core -->
    <logger name="Microsoft.AspNetCore">
      <level value="WARN" />
    </logger>

    <!-- Application-specific loggers -->
    <logger name="DigitalSignage">
      <level value="DEBUG" />
    </logger>
  </log4net>
</configuration>